COMPOSE_PROJECT_NAME=copilot-value-development
VSCODE_WORKSPACE_STORAGE_PATH=../data/vscode-workspace-storage-empty
SESSION_POLL_SECONDS=5
NPM_REGISTRY=https://registry.npmjs.org/
PIP_INDEX_URL=https://pypi.org/simple